<head>
<title>Home</title>
<link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
  
<br><br><br>
<div class = div1><ul style="font-family:sans-serif;  font-size:16pt">
<li><a href="/">Home</a></li>
<li><a href="/automobile">Automobile</a></li>
<li><a href="/Food">Food</a></li>
<li><a href="/Course">Course</a></li>
<li ><a href="/new">Createpost</a></li>
{{#if user}}
<li ><a href="/logout">Logout</a></li>
{{else}}
<li><a href="/login">Sign in</a></li>
<li><a href="/signup">Register</a></li>
{{/if}}

<li>
  <form action="/search" method="post">
  <input type="text" placeholder="Search.." name="searchText" id="searchText">
  <input type="submit" value="Search">
  </form></li>
</ul>
</div> 
<div><a href="" target="_blank">
<img src="/public/images/SITF.jpeg"  class=bgimg height=150px>
</a></div>
<span class=border>
<img src="/public/images/header-background.jpg"  id="slide" height=250px width=1500px>
</span> 

<div class="afoot"></div>

<div class="foot" style="color:white;">Designing in progress</div>

<p style="position:absolute; top:230px; right:600px;font-size:22px;font-family:sans-serif;opacity:.7"><b>About SITForum</b></p>
<p style="position:absolute; top:300px;left:100px;font-family:arial;">
  Our mission is to share and grow the world’s knowledge. A vast amount of the knowledge that would be valuable to many people is currently only available to a few — either locked in people’s heads,
   or only accessible to select groups. We want to connect the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better,
    and to empower everyone to share their knowledge for the benefit of the rest of the world.
    </p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{#if user}}
  <div>Hi, {{user}}</div>
{{/if}}
{{#each posts}}

<div id="postsDiv" class="postsDiv">
  <a href="/post/{{this._id}}">{{this.title}}</a>
  <p>Author : {{this.author}} &ensp; Catogory : {{this.category}}</p>
  <p>Likes: {{this.like.length}} and Dislikes: {{this.dislike.length}}</p>
</div>

{{/each}}

{{#each error}}

<div id="error" class="error">
  <p>ERROR: {{this.err}}</p>
  <a href="/">GO HOME</a>
</div>

{{/each}}

</body>